@use "../general/general";

.cmp-blog {
  padding: general.$padding-small;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: general.$bp-medium) {
    gap: 5rem;
    padding: general.$padding-large;
  }

  &__heading {
    font-size: 3rem;
    line-height: 1;
    text-transform: lowercase;
    color: hsl(var(--color-white) / 72%);

    @media (min-width: general.$bp-small) {
      font-size: 4rem;
    }

    @media (min-width: general.$bp-medium) {
      font-size: 6rem;
    }

    @media (min-width: general.$bp-large) {
      font-size: 10rem;
    }
  }

  &__text {
    font-size: 1.25rem;
    color: hsl(var(--color-white) / 88%);
    line-height: 1.4;
  }

  &__article-list {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
    display: grid;
    gap: 0.5rem;

    @media (min-width: general.$bp-medium) {
      margin-top: 5rem;
    }
  }

  &__list-item {
    font-size: 1.25rem;
  }
    
  &__link {
    line-height: 1.5;
    color: hsl(var(--color-white) / 72%);
    text-underline-offset: 0.25rem;
    text-decoration-color: transparent;
    transition: general.$default-transition;
    
    &:hover {
      color: hsl(var(--color-white) / 95%);
      text-decoration-color: hsl(var(--color-white) / 72%);
    }
  }
}
