@use '../general/general';

.cmp-button {
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;

  // TODO: border-radius across all links/buttons should be a variable
  border-radius: 3rem;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: general.$default-transition;

  @media (min-width: general.$bp-medium) {
    width: fit-content;
    margin: auto;
  }

  &--primary {
    color: var(--color-bright-coral);
    background-color: hsla(var(--color-white) / 88%);

    &:hover {
      box-shadow: 0 0.25rem 0.625rem hsla(var(--color-black) / 32%);
    }

    &:active {
      background-color: hsla(var(--color-white) / 100%);
    }
  }

  &--secondary {
    color: hsla(var(--color-white) / 100%);
    background-color: hsla(var(--color-white) / 16%);
    gap: 0.5rem;

    &:hover {
      background-color: hsla(var(--color-white) / 24%);
    }

    &:active {
      background-color: hsla(var(--color-white) / 100%);
    }
  }

  &--external-cta {
    color: hsla(var(--color-white) / 88%);
    background-color: var(--color-bright-coral);
    
    &:hover {
      box-shadow: 0 0.25rem 0.375rem hsla(var(--color-black) / 32%);
    }

    &:active {
      color: hsla(var(--color-white) / 100%);
    }
  }

  &--submit {
    border: 0.125rem solid transparent;
    color: hsla(var(--color-white) / 100%);
    background-color:var(--color-bright-coral);
    
    &:hover {
      box-shadow: 0 0.25rem 0.375rem hsla(var(--color-black) / 32%);
    }
    
    &:active {
      background-color: var(--color-bright-coral-transparent-8);
      color: var(--color-dark-teal);
      box-shadow: none;
      border-color: var(--color-dark-teal);
    }
  }

  &--clear {
    border: 0.125rem solid var(--color-dark-teal);
    background-color: var(--color-light-peach-transparent);
    color: var(--color-dark-teal);
    
    &:hover {
      cursor: pointer;
      background-color: var(--color-bright-coral-transparent);
      box-shadow: 0 0.25rem 0.375rem hsla(var(--color-black) / 10%);
    }
    
    &:active {
      background-color: hsla(var(--color-white) / 100%);
    }
  }

  &--download {
    border: 0.125rem solid var(--color-bright-coral);
    color: var(--color-bright-coral);
    background-color: hsla(var(--color-white) / 100%);
    display: none;
    width: fit-content;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;

    &:hover {
      background-color: var(--color-bright-coral-transparent-8);
      cursor: pointer;
    }

    @media (min-width: general.$bp-small) {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &--download-icon {
    border: 0.125rem solid var(--color-bright-coral);
    background-color: hsla(var(--color-white) / 100%);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: unset;

    &:hover {
      background-color: var(--color-bright-coral-transparent-8);
      cursor: pointer;
    }

    @media (min-width: general.$bp-small) {
      display: none;
    }
  }
}
