@use '../general/general';

.cmp-contact {
  padding: 2rem 1.5rem;
  background-color: hsla(var(--color-black) / 8%);
  color: hsla(var(--color-white) / 88%);
  box-sizing: border-box;

  @media (min-width: general.$bp-medium) {
    padding: 5rem 1.5rem;
  }
  
  &__container {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    flex-direction: column;
    
    @media (min-width: general.$bp-medium) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__text {
    font-size: 2rem;
    margin: 0;
    flex-basis: 66%
  }
}
