@use "../general/general";

// TODO: the footer is not at the bottom of this page since it's short. needs a fix.
.cmp-contact-page {
  padding: general.$padding-small;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: general.$bp-medium) {
    padding: general.$padding-large;
    gap: 5rem;
  }

  &__heading {
    font-size: 3rem;
    text-transform: lowercase;
    color: hsl(var(--color-white) / 72%);
    line-height: 1;

    @media (min-width: general.$bp-small) {
      font-size: 4rem;
    }
  
    @media (min-width: general.$bp-medium) {
      font-size: 6rem;
    }
  
    @media (min-width: general.$bp-large) {
      font-size: 10rem;
    }
  }
  
  &__subheading {
    font-size: 1.5em;
    color: hsl(var(--color-white) / 80%);
  }

  &__form-container {
    box-sizing: border-box;
  }
}
