@use "../general/general";

//TODO: the footer is not at the bottom of this page since it's short. needs a fix.
.cmp-contact-page {
  padding: general.$padding-small;
  box-sizing: border-box;

  @media (min-width: general.$bp-medium) {
    padding: general.$padding-large;
  }

  &__heading {
    font-size: 3rem;
    text-transform: lowercase;
    color: rgba(255 255 255 / 72%);

    @media (min-width: general.$bp-small) {
      font-size: 4rem;
    }
  
    @media (min-width: general.$bp-medium) {
      font-size: 6rem;
    }
  
    @media (min-width: general.$bp-large) {
      font-size: 10rem;
    }
  }

  
  &__subheading {
    font-size: 1.5em;
    color: hsla(var(--color-white) / 80%);
  }
}
