@use '../general/general';

.cmp-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 1rem;
  background-color: hsla(var(--color-white) / 95%);
  box-shadow: 0 0 0.625rem hsla(var(--color-black) / 10%);
  max-height: general.$header-height;
  box-sizing: border-box;
  
  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;

    @media (min-width: general.$bp-medium) {
      max-width: general.$max-page-width;
      margin: auto;
      flex-direction: row;
    }
  }

  &__link-list {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;

    @media (min-width: general.$bp-small) {
      justify-content: center;
      gap: 2rem;
    }

    @media (min-width: general.$bp-medium) {
      justify-content: flex-end;
    }
  }

  &__link {
    text-align: center;
    font-weight: 600;
    padding: 0.5em;
    color: var(--color-bright-coral);
    text-decoration: none;
    transition: general.$default-transition;
    border-radius: general.$pill-border-radius;

    @media (min-width: 50rem) {
      padding: 1rem 1.5rem;
    }
    
    &:hover {
      background-color: var(--color-light-peach-transparent);
    }
  }
}
