@use '../general/general';

.cmp-projects {
  padding: 2rem 1.5rem;
  color: hsl(var(--color-white) / 88%);
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  @media (min-width: general.$bp-medium) {
    padding: 5rem 1.5rem;
  }

  @media (min-width: calc(general.$max-page-width + 3rem)) {
    padding: 5rem 0;
  }

  &__container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
  }

  &__heading {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1.5rem;
    text-transform: lowercase;
    color: hsl(var(--color-white) / 32%);

    @media (min-width: general.$bp-small) {
      font-size: 4rem;
    }

    @media (min-width: general.$bp-medium) {
      margin: 0 auto 4rem;
      font-size: 6rem;
      max-width: general.$max-page-width;
    }

    @media (min-width: general.$bp-large) {
      font-size: 10rem;
    }
  }
}
