@use '../general/general';

.cmp-project-details {
  &__hero {
    padding: general.$padding-small;
    color: hsla(var(--color-white) / 88%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;

    @media (min-width: general.$bp-medium) {
      padding: general.$padding-large;
      gap: 2rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (min-width: general.$bp-medium) {
      flex-direction: row;
      align-items: center;
    }    
  }

  &__project-title {
    font-size: 3rem;
    color: hsla(var(--color-white) / 72%);
    font-weight: 700;
    line-height: 1.1;
    
    @media (min-width: general.$bp-small) {
      font-size: 4rem;
    }

    @media (min-width: general.$bp-medium) {
      flex-basis: 50%;
    }

    @media (min-width: general.$bp-large) {
      font-size: 6rem;
    }
  }

  &__home-link {
    color: hsla(var(--color-white) / 88%);
    display: inline-flex;
    align-items: center;
    position: relative;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    transition: general.$default-transition;
    width: fit-content;

    &:hover,
    &:focus {
      padding-left: 2.5rem;
      text-decoration-color: transparent;
      color: hsla(var(--color-white) / 100%);

      & .cmp-project-details__home-link-arrow {
        opacity: 1;
        animation: arrow-point 150ms ease-in 0.2s alternate both 5;
      }
    }
  }

  &__home-link-arrow {
    position: absolute;
    top: 0;
    left: 0;
    content: url('../../public/usedresources/back-arrow.svg');
    width: 1.5rem;
    height: 100%;
    opacity: 0;
    transition: general.$default-transition;
  }

  &__overview {
    @media (min-width: general.$bp-medium) {
      flex-basis: 50%;
    }
  }

  &__heading {
    font-size: 1.5rem;
    margin: 0 0 1.5rem;
    line-height: 1.4;
    font-weight: 600;

    @media (min-width: general.$bp-medium) {
      font-size: 2rem;
    }
  }

  &__content {
    text-wrap: balance;
    line-height: 1.6;
    font-size: 1rem;

    @supports (text-wrap: pretty) {
      text-wrap: pretty;
    }

    @media (min-width: general.$bp-medium) {
      font-size: 1.25rem;
    }
  }

  &__image {
    display: none;
    z-index: 0;

    @media (min-width: general.$bp-small) {
      display: block;
      max-width: 100%;
      height: 100%;
      height: auto;
      padding-bottom: 1rem;
      margin: auto;
    }

    &--desktop,
    &--mobile {
      box-sizing: border-box;
      height: auto;
      max-width: 100%;
    }

    &--desktop {
      @media (min-width: general.$bp-small) {
        margin-top: 4rem;
      }

      @media (min-width: general.$bp-medium) {
        // the negative margin compensates for the pesky layer shadow.
        // this matches the top margin for the hero section
        margin-bottom: -5rem;
      }
    }

    &--mobile {
      border-radius: 3rem;
      box-shadow: 
        0 2rem 3rem hsla(var(--color-black) / 12%), 
        inset 0 0.25rem 1rem hsla(var(--color-black) / 12%);
    }
  }

   &__body {
    box-sizing: border-box;
    padding: general.$padding-small;
    color: hsla(var(--color-black) / 88%);

    @media (min-width: general.$bp-medium) {
      padding: general.$padding-large;
    }
  }

  &__text-container {
    position: relative;
    z-index: 0;

    &::before,
    &::after {
      position: absolute;
      content: "";
      z-index: -1;
      border-radius: 50%;
  }

    &::before {
      background-color: hsla(var(--color-white) / 100%);
      height: 32.125rem; // 514px
      width: 32.125rem; // 514px
      top: 1rem;
      left: -10rem;
    }

    &::after {
      @media (min-width: general.$bp-small) {
        height: 18.25rem; // 292px
        width: 18.25rem; // 292px
        background-color: var(--color-bright-coral-transparent-16);
        right: -10rem;
        top: 50rem;
      }

      @media (min-width: general.$bp-medium) {
        right: -100%;
        top: 25rem;
      }
    }
  }

  &__tech-container {
    position: relative;
    z-index: 0;
  }

  &__tech-heading {
    margin: 0 0 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;

    @media (min-width: general.$bp-medium) {
      font-size: 1.5rem;
    }
  }

  &__tech-list {
    display: flex;
    gap: 1rem;
    box-sizing: border-box;
    flex-wrap: wrap;

    @media (min-width: general.$bp-xsmall) {
      gap: 1.25rem;
    }

    @media (min-width: general.$bp-small) {
      gap: 1.5rem;
    }
  }

  &__tech-list-item {
    &--image {
      height: auto;
      width: 4rem;
    }
  }

  &__site-cta {
    padding: general.$padding-small;
    color: var(--color-bright-coral);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: general.$bp-medium) {
      padding: general.$padding-large;
      max-width: fit-content;
      margin: auto;
    }
  }
}
