@use '../general/general';

.cmp-resume-page {
    display: flex;
    flex-direction: column;
    background-color: hsla(var(--color-light-peach) / 100%);
    box-sizing: border-box;

  &__hero {
    box-sizing: border-box;
    padding: general.$padding-small;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: hsla(var(--color-white) / 100%);

    @media (min-width: general.$bp-small) {
      gap: 3rem;
    }

    @media (min-width: general.$bp-medium) {
      padding: general.$padding-large;
    }
  }

  &__hero-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__hero-title {
    font-size: 2rem;
    margin: 0;
    line-height: 1;

    @media (min-width: general.$bp-small) {
      font-size: 4rem;
    }
  }

  &__hero-subtitle {
    width: fit-content;
    background-color: var(--color-bright-coral);
    color: hsla(var(--color-white) / 100%);
    text-transform: uppercase;
    padding: 0.25em;
    font-size: 0.875rem;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      left: calc(100% + 0.25rem);
      top: 0;
      background-color: var(--color-bright-coral);
    }
  }

  &__section {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: general.$bp-medium) {
      &--about {
        grid-area: about;
      }

      &--ed {
        grid-area: ed;
      }

      &--exp {
        grid-area: exp;
      }

      &--tech {
        grid-area: tech;
      }
    }
  }

  &__section-intro {
    margin: 0;
    
    @supports (text-wrap: pretty) {
        text-wrap: pretty;
    }
  }

  &__code-icon {
    color: var(--color-bright-coral);
    background-color: var(--color-bright-coral-transparent-16);
    border-radius: 50%;
    padding: 0.25rem;
    font-weight: 600;
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__section-heading {
    margin: 0;
    font-size: 1.5rem;
    
    @media (min-width: general.$bp-medium) {
      font-size: 2rem;
    }
    
    &--with-code-icon {
      margin-left: 2rem;
      position: relative;

      &::before {

        @extend .cmp-resume-page__code-icon;

        content: "\003D\003E";
        font-size: 1rem;
        position: absolute;
        left: -2rem;
        
        @media (min-width: general.$bp-medium) {
          top: 0.33rem;
        }
      }
    }
  }

  &__list {

    &.border-left {
      padding-left: 1rem;
    }
  }

  &__list-item {
    font-size: 1rem;

    @media (min-width: general.$bp-medium) {
      font-size: 1.25rem;
    }

    &--heading {
      color: var(--color-bright-coral);
      font-weight: 600;
    }
  }

  &__sub-list {
    margin-bottom: 1rem;

    @media (min-width: general.$bp-medium) {
        margin-bottom: 2rem;
    }

    & > & {
      margin-top: 1rem;
    }
  }

  &__sub-list-item {
    margin-bottom: 0.5rem;

    @media (min-width: general.$bp-medium) {
        font-size: 1rem;
      }

    &--title {
      font-size: 1.125rem;
      font-weight: 600;
      
      @media (min-width: general.$bp-medium) {
          font-size: 1.25rem;
          margin-bottom: 1rem;
      }
    }

    &--with-marker {
      position: relative;
      left: 1.5rem;
      width: calc(100% - 1.5rem);

      &::before {
        position: absolute;
        background: url('../../public/usedresources/arrow-marker.svg') center no-repeat;
        background-size: contain;
        content: "";
        top: 0;
        left: -1.5rem;
        width: 1rem;
        height: 1rem;
      }
    }

    &--with-code-icon {
      position: relative;

      &::after {

        @extend .cmp-resume-page__code-icon;

        content: "\002F\003E";
        position: absolute;
        right: 0;
        top: calc(100% + 0.25rem);
        
        @media (min-width: general.$max-page-width) {
          top: -0.25rem;
        }
      }
    }
  }

  &__tech-logo {
    width: 2.5rem;
    aspect-ratio: 1;
    padding: 0.5rem;
    border: 1px solid var(--color-light-gray);
    box-shadow: 0 0.125rem 0.25rem var(--color-light-gray);
  }
}
