.util-bg-light-peach {
  background-color: var(--color-light-peach);
}

.util-bg-purple {
  background-color: var(--color-purple);
}

.util-bg-navy {
  background-color: var(--color-navy);
}

.util-bg-bright-blue {
  background-color: var(--color-bright-blue);
}
