.util-bg-light-peach {
  background-color: var(--color-light-peach);
}

.util-bg-bright-coral-transparent {
  background-color: var(--color-bright-coral-transparent-16);
}

.util-bg-purple {
  background-color: var(--color-purple);
}

.util-bg-navy {
  background-color: var(--color-navy);
}

.util-bg-bright-blue {
  background-color: var(--color-bright-blue);
}

.util-bg-adobe-red {
  background-color: var(--color-adobe-red);
}

.util-bg-a11y {
  background-color: var(--color-a11y-green);
}

.util-bg-ncsbn-blue {
  background-color: var(--color-ncsbn-blue);
}

.util-bg-sbx-black {
  background-color: var(--color-sbx-black);
}
