@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Raleway:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: "Montserrat", "Raleway", sans-serif;
}

header {
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
    position: fixed;
    z-index: 10;
    padding-left: 7.5%;
    padding-right: 7.5%;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header-nav {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-nav ul {
   display: flex;
   flex-basis: 40%;
   list-style-type: none;
   align-items: center;
   justify-content: space-between;
   /* border: 1px solid red; */
}

.header-nav a img {
    /* border: 1px solid purple; */
    padding: 10%;
    width: 75%;
    height: auto;
}

.header-nav ul a {
    /* border: 1px solid blue; */
    /* line-height: 4rem; */
    width: 50%;
    text-align: center;
    font-weight: 600;
    padding: 1em 1.5em;
    color: #F36748;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.header-nav ul a:hover {
    background-color: rgba(243, 103, 72, 0.08);
    border-radius: 50px;
}

.body-container {
    background-color: #FFF6F6;
    /* border: 1px solid red; */
    padding-top: 5%;
    width: 100%;

}

.hero-section {
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    margin: 7.5% 7.5% 0 7.5%;
    background-color: #fff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid red; */
    margin-bottom: 2%;
    padding-bottom: 2em;
    /* border-bottom: 2px solid #000; */
}

.hero-section .header .across-top {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 7.5% 7.5% 0 7.5%;
}

.hero-section .header .across-top a.full {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    
}

.hero-section .header .across-top a.icon {
    display: none;
}

.hero-section .header .across-top button.download-btn {
    border: 2px solid #F36748;
    background-color: #fff;
    color: #F36748;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 1em 1.5em;
    transition: background-color 0.2s ease-in-out;
}

.hero-section .header .across-top button.download-btn img {
    /* border: 1px solid red; */
    padding-left: 8px;
    padding-right: 8px;
}

.hero-section .header .across-top button.download-btn:hover {
    background-color: rgba(243, 103, 72, 0.08);
    cursor: pointer;
}

.hero-section .header .across-top p {
    background-color: #F36748;
    color: #fff;
    display: inline;
    padding: 0.25em;
    text-align: center;
    text-transform: uppercase;
    z-index: 0;
}

.hero-section .header .across-top p::after {
    border-left: 1px solid #F36748;
    padding: 0.25em;
    position: relative;
    top: 0;
    left: 6%;
    z-index: 1;
    content: " ";
}

.hero-section .header h1 {
    /* border: 1px solid red; */
    font-size: 4rem;
    align-items: flex-end;
    flex-shrink: 2;
    flex-grow: 0;
    margin: 0;
    padding: 0 7.5%;
    position: relative;
    top: 0.825rem;
}

.grid-container {
    /* border: 1px solid blue; */
    background-color: #fff;;
    width: 85%;
    height: auto;
    margin: auto;
    margin-bottom: 7.5%;
    display: grid;
    padding: 2% 7.5% 5% 7.5%;
    grid-template-areas: 
        "ed . about about about"
        "ed . exp exp exp"
        "ed . exp exp exp"
        "ed . exp exp exp"
        "skill . exp exp exp"
        "skill . exp exp exp"
        "skill . exp exp exp"
        "skill . exp exp exp"
        "skill . exp exp exp";
    grid-template-rows: 1fr 10% 10% 1fr 10% 10% 10% 10%;
    grid-template-columns: 30% 3% 33.5% 33.5%;
}

#about {
    /* border: 1px solid red; */
    grid-area: about;
    padding-bottom: 5%;
}

#about .hello {
    /* border: 1px solid red; */
    display: flex;
    padding-bottom: 3.5%;
}

#about .hello h2 {
    /* border: 1px solid red; */
    padding-left: 1%;
}

#about p {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.3em;
}

#education h2, 
#about h2, 
#experience h2, 
#skills h2 {
    font-size: 2em;
}

#education {
    /* border: 1px solid red; */
    grid-area: ed;
}

#education ul, 
#experience ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#education ul li.year {
    color: #F36748;
    font-weight: 600;
    padding-top: 10%;
    padding-bottom: 1%;
}

#education ul li.item {
    font-weight: 600;
    font-size: 1.3em;
    padding-bottom: 5%;
}

#education ul li.sub-items {
    padding-bottom: 5%;
}

#education ul li:nth-child(5), 
#education ul li:nth-child(8) {
    /* border: 1px solid red; */
    padding-bottom: 0;
}

/* #education ul li:nth-child(6), 
#education ul li:nth-child(9) {
    padding-top: 10%;
} */


#experience {
    /* border: 1px solid red; */
    grid-area: exp;
}

#experience h2 {
    padding-bottom: 3.5%;
}

/* #experience .experience-container {
     border: 1px solid blue; 
} */

#experience .experience-container .fraser, 
#experience .experience-container .wwt, 
#experience .experience-container .marysville {
    /* border: 1px solid red; */
    border-left: 2px solid #e5e5e5;
    padding-left: 1%;
    margin-bottom: 3%;
}

#experience .experience-container .fraser p.date, 
#experience .experience-container .wwt p.date,
#experience .experience-container .marysville p.date {
    color: #F36748;
    font-weight: 600;
    /* padding-bottom: 1%; */
}

#experience .experience-container .fraser p.title, 
#experience .experience-container .wwt p.title,
#experience .experience-container .marysville p.title {
    font-weight: 600;
    font-size: 1.3em;
    padding-bottom: 2%;
}

#experience .experience-container .fraser p.secondary {
    /* border: 1px solid red; */
    padding: 0;
}

#experience .experience-container .fraser ul.experience-items, 
#experience .experience-container .wwt ul.experience-items, 
#experience .experience-container .marysville ul.experience-items {
    /* border: 1px solid red; */
    padding: 3% 5%;
    list-style-image: url("../usedresources/images_2x/arrow.png");
}

#experience .experience-container .fraser ul li, 
#experience .experience-container .wwt ul li, 
#experience .experience-container .marysville ul li {
    font-size: 1.3em;
    font-weight: 300;
}    

#experience .experience-container .marysville ul {
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-end;
}   

/* #experience .experience-container .marysville ul img {
    border: 1px solid red; 
    width: auto;
    height: auto; 
} */


/* % fill, delayed, color: #F36748 */
@keyframes barshtmlpercent {
    0% {width: 0%; border-bottom: 8px solid #F36748;}
    100% {width: 85%; border-bottom: 8px solid #F36748;}
}

@keyframes barscsspercent {
    0% {width: 0%; border-bottom: 8px solid #F36748;}
    100% {width: 83%; border-bottom: 8px solid #F36748;}
}

@keyframes barsjspercent {
    0% {width: 0%; border-bottom: 8px solid #F36748;}
    100% {width: 40%; border-bottom: 8px solid #F36748;}
}

@keyframes barsgitpercent {
    0% {width: 0%; border-bottom: 8px solid #F36748;}
    100% {width: 25%; border-bottom: 8px solid #F36748;}
}

@keyframes barsfigmapercent {
    0% {width: 0%; border-bottom: 8px solid #F36748;}
    100% {width: 35%; border-bottom: 8px solid #F36748;}
}
    
#skills {
    /* border: 1px solid red; */
    grid-area: skill;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

#skills .html .bars-all.bottom, 
#skills .css .bars-all.bottom,
#skills .javascript .bars-all.bottom,
#skills .github .bars-all.bottom,
#skills .figma .bars-all.bottom {
    height: 8px;
    width: 100%;
    background-color: rgba(243, 103, 72, 0.16);
    position: relative;
    z-index: 1;
}

#skills h2 {
    padding-bottom: 10%;
}

#skills .html, 
#skills .css, 
#skills .javascript, 
#skills .github, 
#skills .figma {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 3%;
}

#skills .html #animate-html, 
#skills .css #animate-css, 
#skills .javascript #animate-js,
#skills .github #animate-github, 
#skills .figma #animate-figma {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 8px;
    z-index: 1;
    border-bottom: 8px solid transparent;

}

.animatehtml{ 
    animation: barshtmlpercent 1s ease-in-out 0.3s 1 forwards; 
    
}

.animatecss {
    animation: barscsspercent 1.2s ease-in-out 0.3s 1 forwards; 
}

.animatejs {
    animation: barsjspercent 1.4s ease-in-out 0.3s 1 forwards; 
}

.animategit {
    animation: barsgitpercent 1.6s ease-in-out 0.3s 1 forwards; 
}

.animatefigma {
    animation: barsfigmapercent 1.8s ease-in-out 0.3s 1 forwards; 
}

#skills .html h3, 
#skills .css h3, 
#skills .javascript h3, 
#skills .github h3, 
#skills .figma h3 {
    font-weight: 600;
}

#skills .html img, 
#skills .css img, 
#skills .javascript img, 
#skills .github img, 
#skills figma img {
    padding: 0;
    width: auto;
    height: auto;
}

.collab-cta { 
    /* border: 1px solid red; */
    padding: 10% 7.5%;
    background-color: rgba(243, 103, 72, 0.08);
    /* background-color: rgba(0, 0, 0, 0.08); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    /* color: rgba(255, 255, 255, 0.88); */
    color: rgba(0, 0, 0, 0.88);
}

.collab-cta p {
    /* border: 1px solid red; */
    flex-basis: 70%;
    font-size: 2em;
    line-height: 140%;
    font-weight: 300;
}

.collab-cta a {
    /* border: 1px solid red; */
    width: 15%;
    color: #F36748;
    background-color: rgba(255, 255, 255, 0.88);
    border-radius: 50px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    padding: 1em 1.5em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.collab-cta a:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.32);
}

.collab-cta a:active {
    background-color: #fff;
}

footer {
    /* border: 1px solid red; */
    padding-bottom: 2.5%;
    background-color: #FFF6F6;

}

footer .social {
    display: flex;
    flex-basis: 35%;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: center;
    padding: 2% 0;
}


footer .social a {
    /* border: 1px solid black; */
    text-decoration: none;
    color: #F36748;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer .social a:first-child {
    margin-right: 0.5em;
    /* border: 1px solid red; */
}

footer .social a:last-child  {
    margin-left: 0.5em;
    /* border: 1px solid red; */
}

footer .social a img {
    /* border: 1px solid black; */
    border-radius: 50%;
    display: inline;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    max-width: 48px;
}

footer .social a img:hover {
    filter: brightness(0) saturate(100%) invert(31%) sepia(80%) saturate(1244%) hue-rotate(341deg) brightness(89%) contrast(77%);
}

footer p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.75em;
}

/* responsive/mobile */

@media only screen and (max-width: 1220px) {
    
    .header-nav ul {
        flex-basis: 60%;
        /* border: 1px solid red; */
    }

    .collab-cta a {
        width: 25%;
    }
} 

@media only screen and (max-width: 1000px) {
    .hero-section .header h1 {
        /* border: 1px solid blue; */
        margin-bottom: 5%;

    }

    .grid-container {
        /* border: 1px solid red; */
        grid-template-columns: 30% 10% 30% 30%;
    }
}

@media only screen and (max-width: 900px) {
    .header-nav ul {
        flex-basis: 80%;
        /* border: 1px solid red; */
    }

    .collab-cta p {
         /* border: 1px solid red; */
         flex-basis: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .header-nav ul a:active {
        background-color: rgba(243, 103, 72, 0.16);
    }

    .grid-container {
        /* border: 1px solid blue; */
        height: auto;
        grid-template-areas: 
            "about"
            "ed"
            "exp"
            "skill";
        grid-template-columns: 100%;
        grid-template-rows: 16% 20% 35% 1fr;
        grid-row-gap: 2%;
        padding-top: 7.5%;
        padding-bottom: 20%
    }

    /* #education {
        border: 1px solid black;
    } */

    #education ul li.year {
        padding-top: 4%;
        padding-bottom: 0;
    }
    
    #education ul li.item {
        padding-bottom: 0;
    }
    
    #education ul li.sub-items {
        padding-bottom: 2%;
    }
    
    #education ul li:nth-child(5), 
    #education ul li:nth-child(8) {
        /* border: 1px solid red; */
        padding-bottom: 0;
    }

    /* #experience {
        border: 1px solid red;
    } */

    #experience h2 {
        padding-bottom: 3.5%;
    }
    
    #experience .experience-container .fraser ul.experience-items, 
    #experience .experience-container .wwt ul.experience-items, 
    #experience .experience-container .marysville ul.experience-items {
        /* border: 1px solid red; */
        padding: 3% 0 0 4%;
    }
    
    #experience .experience-container .fraser ul li, 
    #experience .experience-container .wwt ul li, 
    #experience .experience-container .marysville ul li {
        font-size: 1.25em;
    }    
    
    #skills h2 {
        padding-bottom: 3.5%;
    }

    .collab-cta {
        flex-direction: column;
        align-items: flex-start;
    }

    .collab-cta p {
        margin-bottom: 15%;
    }

    .collab-cta a {
        width: 50%;
    }

    footer {
        padding: 10% 0;
    }

}

@media only screen and (max-width: 640px) {
    .body-container {
        /* border: 1px solid black; */
        margin: 0;
        height: auto;
        width: 100%;
        padding-top: 10%;
    }

    .hero-section .header .across-top a.full {
        /* border: 1px solid red; */
        display: none;
    }

    .hero-section .header .across-top a.icon {
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .hero-section .header .across-top a.icon button.download-btn {
        /* border: 1px solid red; */
        padding: 1em;
    }

    .hero-section .header .across-top a.icon img {
        padding: 0; 
        display: block;
        border: none;
    }

    .hero-section .header h1 {
        font-size: 3.5em;
    }
}


@media only screen and (max-width: 500px) {
    header {
        padding: 0;
    }
    
    .header-nav {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .header-nav a img {
        /* border: 1px solid purple; */
        display: block;        
        margin: auto;
    }

    .header-nav ul {
        /* border: 1px solid red; */
        width: 100%;
        padding-bottom: 5%;
    }

    .body-container {
        /* border: 1px solid red; */
        padding-top: 35%;
    }

    .hero-section .header .across-top {
        /* border: 1px solid black; */
        display: block;
    }

    .hero-section .header .across-top a.icon {
        /* border: 1px solid black; */
        margin-left: 85%;
        margin-bottom: 7.5%;
    }

    .grid-container {
        margin-bottom: 15%;
        /* border: 1px solid blue; */
    }
    
    .hero-section .header h1 {
        font-size: 3em;
    }

    #about {
        /* border: 1px solid black; */
        line-height: 140%;
    }

    #about .hello {
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        padding-bottom: 8%;
    }

    #education h2, 
    #experience h2, 
    #skills h2 {
        /* border: 1px solid black; */
        padding-bottom: 8%;
    }

    #education ul li.year {
        /* border: 1px solid red; */
        padding-bottom: 3%;
        padding-top: 0;
    }

    #education ul li.item {
        /* border: 1px solid red; */
        padding-bottom: 5%;
    }

    #education ul li.sub-items {
        /* border: 1px solid red; */
        padding-bottom: 5%;
    }

    #education ul li:nth-child(5), 
    #education ul li:nth-child(8) {
        /* border: 1px solid red; */
        margin-bottom: 5%;
    }

    #experience {
        /* border: 1px solid red; */
        margin-top: 15%;
    }


     #experience .experience-container {
        /* border: 1px solid blue;  */
        height: 100%;
    } 

    #experience .experience-container .fraser, 
    #experience .experience-container .wwt, 
    #experience .experience-container .marysville {
        /* border: 1px solid red; */
        border-left: none;
        border-bottom: 2px solid #e5e5e5;
        padding-left: 5%;
        margin-bottom: 10%;
    }

    #experience .experience-container .fraser p.date, 
    #experience .experience-container .wwt p.date,
    #experience .experience-container .marysville p.date {
        padding-bottom: 3%;
        /* border: 1px solid black; */
    }

    #experience .experience-container .fraser p.title, 
    #experience .experience-container .wwt p.title,
    #experience .experience-container .marysville p.title {
        /* border: 1px solid red; */
        padding-bottom: 5%;
    }

    #experience .experience-container .fraser p.secondary {
        /* border: 1px solid red; */
        padding: 5% 0;
    }

    #experience .experience-container .fraser ul.experience-items, 
    #experience .experience-container .wwt ul.experience-items, 
    #experience .experience-container .marysville ul.experience-items {
        /* border: 1px solid red; */
        padding-bottom: 5%;
    }

    #skills {
        /* border: 1px solid red; */
        padding-top: 35%;
        height: auto;
    }

}


@media only screen and (max-width: 414px) {
    .hero-section .header h1 {
        /* border: 1px solid red; */
        margin-top: 5%;
        font-size: 2.5em;
    }

    #skills {
        /* border: 1px solid red; */
        padding-top: 60%;
    }
    
    .collab-cta a {
        width: 70%;
    }
}

@media only screen and (max-width: 325px) {
    .header-nav ul a {
        padding: 4%;
    }

    .body-container {
        padding-top: 55%
    }

    .hero-section {
        /* border: 1px solid blue; */
        width: 94%;
        margin: auto;
    }

    .grid-container {
        padding-left: 5%;
        padding-right: 3%;
        width: 94%;
    }
    
}