:root {
  --color-dark-teal: hsl(194deg 65% 28%);
  --color-light-peach: hsl(0deg 100% 98%);
  --color-light-peach-transparent: hsla(0deg 100% 98% / 80%);
  --color-bright-coral: hsl(11deg 88% 62%);
  --color-bright-coral-transparent-8: hsla(11deg 88% 62% / 8%);
  --color-bright-coral-transparent-16: hsla(11deg 88% 62% / 16%);
  --color-bright-coral-dark-hover: hsla(11deg 60% 52% / 100%);
  --color-light-gray: hsla(0deg 0% 85% / 100%);

  // black & white are used a lot with an alpha value in hsla
  --color-white: 0deg 100% 100%;
  --color-black: 0deg 0% 0%;
}
