@use './general';

.footer {
  padding: 2rem 1.5rem;
  box-sizing: border-box;

  &__link-list {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
  }
  
  &__link {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--color-bright-coral);
    transition: general.$default-transition;
    border-radius: 50%;

    &:hover .footer__link-image {
      filter: brightness(0) saturate(100%) invert(31%) sepia(80%) saturate(1244%) hue-rotate(341deg) brightness(89%) contrast(77%);
    }
  }

  &__link-image {
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    //TODO: fix the images so they are consistent sizes & don't need explicit sizing
    width: 44px;
    height: 44px;
  }

  &__copyright {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.75em;
  }
}
