:root {
  --color-dark-teal: #196076;
  --color-light-peach: #fff6f6;
  // --color-light-peach: rgba(243, 103, 72, 0.08);
  --color-bright-coral: #F36748;
  // black & white are used a lot with an alpha value in rgba
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
}
