// SETTINGS

// TOOLS
@forward './tools/animations';

// GENERAL
@forward './general/general';

// ELEMENTS
@forward './elements/html';
@forward './elements/body';
@forward './elements/root';
@forward './elements/main';
@forward './elements/footer';

// OBJECTS/LAYOUTS

// COMPONENTS
@forward './components/header';
@forward './components/body';
@forward './components/footer';
@forward './homepage-hero';
@forward './components/blog-page';
@forward './components/contact-page';
@forward './components/resume-page';
@forward './components/work-examples-page';
@forward './components/neverland-travelers-page';
@forward './components/financial-page';
@forward './components/iceland-page';

// VENDOR

// UTILITIES

// ===============
.cmp-body {
    padding: 0;
    background-color: var(--color-dark-teal);
    height: 100%;
}

/* css animations */

/* @keyframes type-on {
    from { width: 0}
    to { width: 100%}
}

@keyframes blink-cursor {
    from, to { border-color: transparent}
    50% { border-color: #F36748}
    100% { border-color: transparent}
} */

// stylelint-disable-next-line keyframes-name-pattern

.cmp-body .about-me {
    background-color:#fff6f6;
    padding: 7.5% 7.5% 12%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.cmp-body .about-me .text-container {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 400;

    // grow, shrink, basis
    flex: 0 1 60%;
    z-index: 4;
    padding-left: 7.5%;
    position: relative;
}

.cmp-body .about-me .image-container {
    flex-basis: 40%;
    z-index: 4;
    padding: 0;
}

.cmp-body .about-me .image-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
    z-index: 3;
}

.cmp-body .about-me .text-container::before {
    content: " ";
    display: inline;
    height: 292px;
    width: 292px;
    background-color: #FFCEC6;
    border-radius: 50%;
    position: absolute;
    right: 150%;
    top: 50px;
    z-index: -1;
}

.cmp-body .about-me .text-container::after {
    content: " ";
    height: 513px;
    width: 513px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -275px;
    left: 60%;
    z-index: -1;
    display: inline;
} 

.projects {
    padding-top: 5%;
    color: #fff;
    background-color: #196076;
    height: 100%;
    overflow: hidden;
}

.projects h2 {
    font-size: 200px;
    margin-bottom: 5%;
    text-transform: lowercase;
    color:rgba(255 255 255 / 32%);
    padding-left: 7.5%;
}

.projects .grid {
    display: grid;
    grid-template-areas: 
        "neverland"
        "financial"
        "iceland";
    grid-template-columns: 100%;
    
    // stylelint-disable-next-line declaration-block-no-redundant-longhand-properties
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    color: rgba(255 255 255 / 88%);
    height: auto;
}

.neverland-travelers {
    grid-area: neverland;
    display: flex;
    flex-basis: 100%;
    padding-left: 7.5%;
    margin-bottom: 5%;
}

.neverland-travelers .left, 
.financial .right, 
.iceland .left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.neverland-travelers .nt-text h3, 
.financial .fin-text h3, 
.iceland .ice-text h3 {
    font-size: 2em;
    margin-bottom: 3%;
}

.neverland-travelers .nt-text p, 
.financial .fin-text p, 
.iceland .ice-text p {
    font-size: 1.5em;
    line-height: 160%;
    margin-bottom: 10%;
}

.neverland-travelers .links, 
.financial .links,
.iceland .links {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.neverland-travelers .nt-text .links a.link1,
.financial .fin-text .links a.link1, 
.iceland .ice-text .links a.link1 {
    width: 25%;
    color: #F36748;
    background-color: rgba(255 255 255 / 88%);
    border-radius: 50px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    padding: 1em 1.5em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.neverland-travelers .nt-text .links a.link1:hover,
.financial .fin-text .links a.link1:hover, 
.iceland .ice-text .links a.link1:hover {
    box-shadow: 0 4px 6px rgba(0 0 0 / 32%);
}

.neverland-travelers .nt-text .links a.link1:active,
.financial .fin-text .links a.link1:active, 
.iceland .ice-text .links a.link1:active {
    background-color: #fff;
}

.neverland-travelers .nt-text .links a.link2,
.financial .fin-text .links a.link2,
.iceland .ice-text .links a.link2 {
    width: 35%;
    font-weight: 600;
    color: #fff;
    background-color:rgba(255 255 255 / 16%);
    border-radius: 50px;
    text-decoration: none;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.neverland-travelers .nt-text .links a.link2:hover,
.financial .fin-text .links a.link2:hover,
.iceland .ice-text .links a.link2:hover {
    background-color:rgba(255 255 255 / 24%);
}

.neverland-travelers .nt-text .links a.link2:active,
.financial .fin-text .links a.link2:active,
.iceland .ice-text .links a.link2:active {
    background-color:rgba(255 255 255 / 10%);
}

.neverland-travelers .nt-screenshot {
    flex-basis: 50%;
    position: relative;
    left: 10%;
}

.neverland-travelers .nt-screenshot img {
    width: 100%;
    height: auto;
}

.financial {
    grid-area: financial;
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 100%;
    padding-right: 7.5%;
    margin-bottom: 5%;
}

.financial .fin-text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.financial .fin-screenshot {
    flex-basis: 50%;
    position: relative;
    right: 10%;
}

.financial .fin-screenshot img {
    width: 100%;
    height: auto;
}

.iceland {
    grid-area: iceland;
    display: flex;
    flex-basis: 100%;
    padding-left: 7.5%;
    margin-bottom: 5%;
}

.iceland .ice-text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.iceland .ice-screenshot {
    flex-basis: 50%;
    position: relative;
    left: 10%;
}

.iceland .ice-screenshot img {
    width: 100%;
    height: auto;
}

.collab-cta {
    padding: 10% 7.5%;
    margin-top: 2.5%;
    background-color: rgba(0 0 0 / 8%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    color: rgba(255 255 255 / 88%);
}

.collab-cta p {
    flex-basis: 70%;
    font-size: 2em;
    line-height: 140%;
    font-weight: 300;
}

.collab-cta a {
    width: 15%;
    color: #F36748;
    background-color: rgba(255 255 255 / 88%);
    border-radius: 50px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    padding: 1em 1.5em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.collab-cta a:hover {
    box-shadow: 0 4px 6px rgba(0 0 0 / 32%);
    background-color: #fff;
}

.collab-cta a:active {
    background-color: rgba(255 255 255 / 88%);
    box-shadow: none;
}

/* responsive/mobile */

@media only screen and (max-width: 1220px) {
    .neverland-travelers .nt-text .links a.link1,
    .financial .fin-text .links a.link1, 
    .iceland .ice-text .links a.link1 {
        width: 40%;
    }

    .neverland-travelers .nt-text .links a.link2,
    .financial .fin-text .links a.link2,
    .iceland .ice-text .links a.link2 {
        width: 55%;
    }

    .collab-cta a {
        width: 25%;
    }
} 

@media only screen and (max-width: 1000px) {
    .projects h2 {
        font-size: 180px;
    }
}

@media only screen and (max-width: 900px) {
     .collab-cta p {
         flex-basis: 60%;
     }
}

@media only screen and (max-width: 820px) {
    .projects h2 {
        font-size: 160px;
    }
}


@media only screen and (max-width: 768px) {
    .cmp-body .about-me {
        /* border: 1px solid red; */
        flex-direction: column-reverse;
    }
    
    .cmp-body .about-me .text-container {
        flex-basis: 100%;
        z-index: 4;
        padding: 10% 0 0;
        position: relative;
    }
    
    .cmp-body .about-me .text-container::before {
        right: 75%;
        top: -155%;
        z-index: -1;
    }
    
    .cmp-body .about-me .text-container::after {
        top: -275px;
        left: 60%;
        z-index: -1;
    }  

    .projects h2 {
        font-size: 120px;
    }

    .neverland-travelers,
    .financial, 
    .iceland {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 10%;
    }

    .neverland-travelers .nt-text, 
    .financial .fin-text, 
    .iceland .ice-text {
        justify-content: center;
        margin-bottom: 10%;
        padding: 0 7.5%;
    }

    .neverland-travelers .nt-screenshot, 
    .financial .fin-screenshot, 
    .iceland .ice-screenshot {
        left: 0;
        right: 0;
    }


    .neverland-travelers .nt-text .links a.link1,
    .financial .fin-text .links a.link1, 
    .iceland .ice-text .links a.link1,
    .neverland-travelers .nt-text .links a.link2,
    .financial .fin-text .links a.link2,
    .iceland .ice-text .links a.link2 {
        width: 50%;
    }

    .collab-cta {
        flex-direction: column;
        align-items: flex-start;
    }

    .collab-cta p {
        margin-bottom: 15%;
    }

    .collab-cta a {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .cmp-body .about-me .text-container::before {
        right: 55%;
        top: -55%;
        z-index: -1;
    }
    
    .cmp-body .about-me .text-container::after {
        top: -10%;
        left: 40%;
        z-index: -1;
    } 

    .projects h2 {
    font-size: 6em;
    }

    .projects .links {
    flex-direction: column;
    }

    .neverland-travelers .nt-text .links a.link1,
    .financial .fin-text .links a.link1, 
    .iceland .ice-text .links a.link1 {
        margin: 0 0 5%;
        width: 70%;
    }

    .neverland-travelers .nt-text .links a.link2,
    .financial .fin-text .links a.link2,
    .iceland .ice-text .links a.link2 {
        margin: 0;
        width: 70%;
    }
}

@media only screen and (max-width: 414px) {
    .cmp-body .about-me .text-container::before {
        right: 35%;
        top: -35%;
        z-index: -1;
    }

    .projects h2 {
        font-size: 4.5em;
     }

     .collab-cta a {
         width: 70%;
     }
}
