<!DOCTYPE html>
<html lang="en">

{% include 'head.njk' %}

<body>
  {% include 'page-header.njk' %}

  <main class="cmp-body">
    <section class="cmp-homepage-hero util-max-width">
      <div class="cmp-homepage-hero__text">
        <div id="type-on">
          <h2 class="js-typewriter cmp-homepage-hero__typewriter" data-period="2000" data-type='[ "hi there!", "aloha!", "hello!", "hola!", "welcome!", "bonjour!"]'>
          <span class="js-wrap"></span>
          </h2>
        </div>
        <h1 class="{{ headingClass }}">
          {{ heading }}
        </h1>
      </div>
        {% image 'src/public/usedresources/Arrow 1.png', 'cmp-homepage-hero__arrow', 'Scroll Down' %}
    </section> 

    <section class="cmp-about">
      <div class="cmp-about__container util-max-width">
        <div class="cmp-about__image-container">
          {% image 'src/public/usedresources/cropped_IMG_2512.png', 'cmp-about__image', 'Marissa with a big smile, harnessed while on an outdoor excursion' %}
        </div>
        <p class="cmp-about__text">
          {{ intro }}
        </p>
      </div>
    </section> 
        
    <section id="projects" class="cmp-projects">
      <div class="cmp-projects__container util-max-width">
        <h2 class="cmp-projects__heading">Projects</h2>

        <div class="obj-projects-grid">
          {# neverland travelers vlog #}
          <div class="obj-projects-grid__item obj-projects-grid__item--vlog">
            {# text container on left #}
            <div class="obj-projects-grid__item-text">
              <h3 class="obj-projects-grid__heading">
                Website for personal vlog
              </h3>
              <p class="obj-projects-grid__description">
                I built and deployed the first version of a website dedicated to my personal vlog channel called Neverland Travelers. 
              </p>
              <div class="obj-projects-grid__links">
                <a href="/work/neverland-travelers.html" class="cmp-button cmp-button--primary" aria-label="Learn more about the Neverland Travelers vlog project site">Learn More</a>
                <a href="https://www.neverlandtravelers.com" class="cmp-button cmp-button--secondary">
                  Visit Site
                  {% image 'src/public/usedresources/external-link.svg', 'cmp-button__icon', 'Visit Neverland Travelers site' %}
                </a>
              </div>
            </div>

            <div class="obj-projects-grid__item-screenshot">
              {% image 'src/public/usedresources/NT-screenshot-hp.png', 'obj-projects-grid__image', 'Neverland Travelers homepage, with a navigation menu, an image of a castle in Walt Disney World and several images of the Neverland Travelers'%}
            </div>
          </div>

          {# financial group remake #}
          <div class="obj-projects-grid__item obj-projects-grid__item--remake">
            {# text container on right #}
            <div class="obj-projects-grid__item-text">
              <h3 class="obj-projects-grid__heading">
                Financial Website Remake
              </h3>
              <p class="obj-projects-grid__description">
                Using Figma designs, I recreated a real website for an independent financial advisor. 
              </p>
              <div class="obj-projects-grid__links">
                <a href="/work/financial.html" class="cmp-button cmp-button--primary" aria-label="Learn more about the financial advisor remake project site">Learn More</a>
                <a href="https://marissahuysentruyt.github.io/Financial-Website-Remake/" class="cmp-button cmp-button--secondary">
                  Visit Site
                  {% image 'src/public/usedresources/external-link.svg', 'cmp-button__icon', 'Visit the Finance Remake site' %}
                </a>
              </div>
            </div>

            <div class="obj-projects-grid__item-screenshot obj-projects-grid__item-screenshot--remake">
              {% image 'src/public/usedresources/Fin-Screenshot-hp.png', 'obj-projects-grid__image', 'Financial Group Remake homepage, with a navigation menu, call-to-action buttons, and an image of two men talking while sitting on a bench'%}
            </div>
          </div>

          {# iceland travel landing page #}
          <div class="obj-projects-grid__item obj-projects-grid__item--travel">
            {# text container on left #}
            <div class="obj-projects-grid__item-text">
              <h3 class="obj-projects-grid__heading">
                Fire & Ice Landing Page
              </h3>
              <p class="obj-projects-grid__description">
                After browsing Dribbble, I developed this Icelandic travel landing page and added minor interactivity.
              </p>
              <div class="obj-projects-grid__links">
                <a href="/work/iceland.html" class="cmp-button cmp-button--primary" aria-label="Learn more about the Iceland travel project site">Learn More</a>
                <a href="https://marissahuysentruyt.github.io/Recreating-Iceland/" class="cmp-button cmp-button cmp-button--secondary">
                  Visit Site
                  {% image 'src/public/usedresources/external-link.svg', 'cmp-button__icon', 'Visit Iceland Travel page' %}
                </a>
              </div>
            </div>

            <div class="obj-projects-grid__item-screenshot">
              {% image 'src/public/usedresources/Ice-screenshot-hp.png', 'obj-projects-grid__image', 'Fire & Ice landing page, with a navigation menu and Icelandic landscape images'%}
            </div>
          </div>
        </div>

      </div>
    </section>

    {% include 'contact-section.njk' %}

  </main>

  {% include 'footer.njk' %}

  <script src="/scripts/index.js" type="module"></script>
</body>
</html>
