<!DOCTYPE html>
<html lang="en">

{% include 'head.njk' %}

<body>
  {% include 'page-header.njk' %}

  <main class="cmp-body">
    <section class="cmp-homepage-hero util-max-width">
      <div class="cmp-homepage-hero__text">
        <div id="type-on">
          <h2 class="js-typewriter cmp-homepage-hero__typewriter" data-period="2000" data-type='[ "hi there!", "aloha!", "hello!", "hola!", "welcome!", "bonjour!"]'>
          <span class="js-wrap"></span>
          </h2>
        </div>
        <h1 class="{{ headingClass }}">
          {{ heading }}
        </h1>
      </div>
        {% image 'src/public/usedresources/Arrow 1.png', 'cmp-homepage-hero__arrow', 'Scroll Down' %}
    </section> 

    <section class="cmp-about">
      <div class="cmp-about__container util-max-width">
        <div class="cmp-about__image-container">
          {% image 'src/public/usedresources/cropped_IMG_2512.png', 'cmp-about__image', 'Marissa with a big smile, harnessed while on an outdoor excursion' %}
        </div>
        <p class="cmp-about__text">
          {{ intro }}
        </p>
      </div>
    </section> 
        
    <section class="cmp-projects">
      <div class="cmp-projects__container util-max-width">
        <h2 class="cmp-projects__heading">Projects</h2>
        
        {% include 'projects-grid.njk' %}

      </div>
    </section>

    {% include 'contact-section.njk' %}

  </main>

  {% include 'footer.njk' %}

  <script src="/scripts/index.js" type="module"></script>
</body>
</html>
