<!DOCTYPE html>
<html lang="en">

{% include 'head.njk' %}

<body>

  {% include 'page-header.njk' %}

  <main class="cmp-body">
    <section class="cmp-blog util-max-width">
      <h2 class="cmp-blog__heading util-margin-none">Blog</h2>
      <div class="cmp-blog__content">
        <p class="cmp-blog__text util-margin-none">
          I am not a writer. But, with the encouragement of some developer friends that I look up to and have so much respect for (both of these guys are top-notch, supportive, PLUS they are so willing to share and help me learn!), I started a blog. As much as I don't think my story is all that interesting, maybe others will think so. I can't be the only one out there struggling to teach myself, so maybe I can shed some light on how I've been doing things and learning front end. I have no right answers, just the answers that have worked for me. 
        </p>

        <p class="cmp-blog__text">
          I'm not pleading with anybody to read these. I'm not making any money off of these posts. But by writing them, I feel like I'm holding myself more accountable. Each blog is helping me view myself as the developer I want to be. 
        </p>
    
        <ul class="cmp-blog__article-list">
          {% for article in articles %}
            {% include 'list-item.njk' %}
          {% endfor %}
        </ul>
      </div>
    </section>
    
    {% include 'contact-section.njk' %}

  </main>

  {% include 'footer.njk' %}

  <script src="/scripts/index.js" type="module"></script>

</body>
</html>
