<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="icon" href="/public/usedresources/favicon.png" type="image/png">
</head>
<body>

  {% include 'page-header.njk' %}

  <main class="cmp-body">
    <section class="hero-section--blog util-max-width">
        <h2>blog</h2>
        <p>
            <!-- why am i writing these blogs -->
            I am not a writer. But, with the encouragement of some developer friends that I look up to and have so much respect for (both of these guys are top-notch, supportive, PLUS they are so willing to share and help me learn!), I started a blog. As much as I don't think my story is all that interesting, maybe others will think so. I can't be the only one out there struggling to teach myself, so maybe I can shed some light on how I've been doing things and learning front end. I have no right answers, just the answers that have worked for me. 
        </p>

        <p>
            I'm not pleading with anybody to read these. I'm not making any money off of these posts. But by writing them, I feel like I'm holding myself more accountable. Each blog is helping me view myself as the developer I want to be. 
        </p>
    </section>
    <section class="article-links">
        <ul class="blog-articles">
            <li>
                <a href="https://medium.com/@marissahuysentruyt/hi-whats-up-6536fc80c967">1. Hi. What's up :) </a>
            </li>
            <li>
                <a href="https://medium.com/@marissahuysentruyt/a-major-career-shift-83c01efe7952">2. A Major Career Shift</a>
            </li>
            <li>
                <a href="https://medium.com/@marissahuysentruyt/i-rejected-my-first-job-offer-ad0d57367edf">3. I rejected my first job offer</a>
            </li>
            <li>
                <a href="https://levelup.gitconnected.com/the-apprentice-ship-episode-0-9cd34ed2c4e6">4. The Apprentice(ship) Episode 0</a>
            </li>
            <li>
                <a href="https://medium.com/gitconnected/the-apprentice-ship-episode-1-f3fed3cae8e">5. The Apprentice(ship) Episode 1</a>
            </li>
            <li>
                <a href="https://medium.com/gitconnected/the-apprentice-ship-episode-2-f1a0f650d960">6. The Apprentice(ship) Episode 2</a>
            </li>
            <li>
                <a href="https://elpha.com/posts/pk8a028p/i-m-an-elementary-school-band-teacher-turned-full-stack-developer">7. Elpha Featured Post: I'm an elementary school band teacher turned full-stack developer</a>
            </li>
            <li>
                <a href="https://medium.com/gitconnected/the-apprentice-ship-episode-3-798d5a494456">8. The Apprentice(ship) Episode 3</a>
            </li>
            <li>
                <a href="https://sparkbox.com/foundry/contrast_ratio_threshold_wcag_web_accessibility_requirements_assistive_technologies_web_contrast_checkers">9. The Foundry: A Crash Course in Color Contrast</a>
            </li>
            <li>
                <a href="https://medium.com/@marissahuysentruyt/the-apprentice-ship-episode-4-series-finale-part-1-b28986fb2854">10. The Apprentice(ship) Episode 4</a>
            </li>
            <li>
                <a href="https://medium.com/@marissahuysentruyt/the-apprentice-ship-episode-5-series-finale-part-2-edfde47af6cc">11. The Apprentice(ship) Episode 5</a>
            </li>
        </ul>
    </section>
    
    <section class="cmp-contact">
      <div class="cmp-contact__container util-max-width">
        <p class="cmp-contact__text">
          {{ collabText.paragraph }} <strong class="util-bold">{{ collabText.bold }}</strong>
        </p>
        <a class="cmp-button cmp-button--primary" href="/contact/contact.html">{{ collabText.linkText }}</a>
      </div>
    </section>
  </main>

  {% include 'footer.njk' %}

</body>
</html>
