<section class="cmp-contact {{ customTextColor if customTextColor else " "  }} {{customBackground if customBackground else " "}}">
  <div class="cmp-contact__container util-max-width">
    <p class="cmp-contact__text">
      {{ collabText.paragraph }} <strong class="util-bold">{{ collabText.bold }}</strong>
    </p>
    <a class="cmp-button cmp-button--primary" href="/contact/contact.html">{{ collabText.linkText }}</a>
  </div>
</section>
