<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="icon" href="/public/usedresources/favicon.png" type="image/png">
</head>
<body>

  <header class="cmp-header">
    <nav class="cmp-header__container util-max-width">
      <a href="/index.html" class="cmp-header__home-link">
        {% image 'src/public/usedresources/mh_logo.svg', '', 'Home'%}
      </a>
      <ul class="cmp-header__link-list">
        <li class="cmp-header__list-item">
          <a class="cmp-header__link" href="/work/work-examples.html">Projects</a>
        </li>
        <li class="cmp-header__list-item">
          <a class="cmp-header__link" href="/resume/resume.html">Resume</a>
        </li>
        <li class="cmp-header__list-item">
          <a class="cmp-header__link" href="/contact/contact.html">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="cmp-body">
    <section class="cmp-contact-page util-max-width">
      <h1 class="cmp-contact-page__heading util-margin-none">
        {{ pageHeading }}
      </h1>

      <p class="cmp-contact-page__subheading util-margin-none">
        {{ pageSubheading }}
      </p>
      
      <div class="cmp-contact-page__form-container">
        {% include "contact-form.njk" %}
      </div>
    </section>
  </main>
    
  <footer class="cmp-footer">
    <ul class="cmp-footer__link-list">
      <li class="cmp-footer__list-item">
        <a class="cmp-footer__link" href="/blog/blog.html">
          {% image 'src/public/usedresources/medium_logo.svg', 'cmp-footer__link-image', 'Blog'%}
        </a>
      </li>
      <li class="cmp-footer__list-item">
        <a class="cmp-footer__link" href="https://www.linkedin.com/in/mhuysentruyt/">
          {% image 'src/public/usedresources/LinkedIN.svg', 'cmp-footer__link-image', 'LinkedIn'%}
        </a>
      </li>
      <li class="cmp-footer__list-item">
        <a class="cmp-footer__link" href="https://github.com/marissahuysentruyt">
          {% image 'src/public/usedresources/Github.svg', 'cmp-footer__link-image', 'GitHub'%}
        </a>
      </li>
    </ul>

    <p class="cmp-footer__copyright">&copy; 2023 Marissa Huysentruyt</p>
  </footer>

</body>
</html>
