<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="icon" href="/public/usedresources/favicon.png" type="image/png">
</head>
<body>

  <header class="cmp-header">
    <nav class="cmp-header__container util-max-width">
      <a href="/index.html" class="cmp-header__home-link">
        {% image 'src/public/usedresources/mh_logo.svg', '', 'Home'%}
      </a>
      <ul class="cmp-header__link-list">
        <li class="cmp-header__list-item">
          <a class="cmp-header__link" href="/work/work-examples.html">Projects</a>
        </li>
        <li class="cmp-header__list-item">
          <a class="cmp-header__link" href="/resume/resume.html">Resume</a>
        </li>
        <li class="cmp-header__list-item">
          <a class="cmp-header__link" href="/contact/contact.html">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="cmp-body cmp-body--contact-page">
      <h1 class="contact-title">
          <!-- js hovers for each letter? -->
          let's connect!
      </h1>

      <p class="contact-text">Have a question? Just fill out the form and I'll get back to you! </p>
      
      <div class="form-container">
          <!-- <p>*Required</p> -->
          <form action="https://formspree.io/f/xleaanww" method="POST" id="contactForm">
              <!--enctype="multipart/form-data"
              name="contactForm" 
              enctype="text/plain"-->
              <label for="first">
                  First Name*
                  <input type="text" name="first-name" required id="first-name" placeholder="Tony" onfocus="this.placeholder = ' '" onblur="this.placeholder = 'Tony'">
              </label>
              <label for="last">
                  Last Name*
                  <input type="text" name="last-name" required id="last-name" placeholder="Stark" onfocus="this.placeholder = ' '" onblur="this.placeholder = 'Stark'">
              </label>
      
              <label for="email">
                  Email*
                  <input type="email" name="_replyto" required id="email" placeholder="iamironman@starkindustries.com" onfocus="this.placeholder = ' '" onblur="this.placeholder = 'tonystank@starkindustries.com'">
              </label>
      
              <label for="message">
                  Message
                  <textarea name="message" id="message" cols="50" rows="10" placeholder="Got a question? Write me!" required onfocus="this.placeholder = ' '" onblur="this.placeholder = 'Got a question? Write me!'"></textarea>
              </label>
      
              <div class="buttons">
                  <button type="submit">Send!</button>
                  <!-- <button type="reset" >Clear</button> -->
              </div>
      
          </form>
      </div>
  </main>
    
  <footer class="cmp-footer">
    <ul class="cmp-footer__link-list">
      <li class="cmp-footer__list-item">
        <a class="cmp-footer__link" href="/blog/blog.html">
          {% image 'src/public/usedresources/medium_logo.svg', 'cmp-footer__link-image', 'Blog'%}
        </a>
      </li>
      <li class="cmp-footer__list-item">
        <a class="cmp-footer__link" href="https://www.linkedin.com/in/mhuysentruyt/">
          {% image 'src/public/usedresources/LinkedIN.svg', 'cmp-footer__link-image', 'LinkedIn'%}
        </a>
      </li>
      <li class="cmp-footer__list-item">
        <a class="cmp-footer__link" href="https://github.com/marissahuysentruyt">
          {% image 'src/public/usedresources/Github.svg', 'cmp-footer__link-image', 'GitHub'%}
        </a>
      </li>
    </ul>

    <p class="cmp-footer__copyright">&copy; 2023 Marissa Huysentruyt</p>
  </footer>

</body>
</html>
