<footer class="cmp-footer">
  <ul class="cmp-footer__link-list">
    <li class="cmp-footer__list-item">
      <a class="cmp-footer__link" href="/blog/blog.html">
        {% image 'src/public/usedresources/medium_logo.svg', 'cmp-footer__link-image', 'Blog'%}
      </a>
    </li>
    <li class="cmp-footer__list-item">
      <a class="cmp-footer__link" href="https://www.linkedin.com/in/mhuysentruyt/">
        {% image 'src/public/usedresources/LinkedIN.svg', 'cmp-footer__link-image', 'LinkedIn'%}
      </a>
    </li>
    <li class="cmp-footer__list-item">
      <a class="cmp-footer__link" href="https://github.com/marissahuysentruyt">
        {% image 'src/public/usedresources/Github.svg', 'cmp-footer__link-image', 'GitHub'%}
      </a>
    </li>
  </ul>

  <p class="cmp-footer__copyright">&copy; 2023 Marissa Huysentruyt</p>
</footer>
