<div class="obj-projects-grid">
  {% for item in projects %}
  <div class="obj-projects-grid__item">
    <div class="obj-projects-grid__item-text">
      <h3 class="obj-projects-grid__heading">
        {{ item.projectTitle | safe }}
      </h3>
      <p class="obj-projects-grid__description">
        {{ item.description | safe }}
      </p>
      <div class="obj-projects-grid__links">
        <a href="/work/{{ item.pageLink }}" class="cmp-button cmp-button--primary obj-projects-grid__button" aria-label="{{ item.ariaLabel }}">
          Learn More
        </a>
        <a href="{{ item.buttonLink }}" class="cmp-button cmp-button--secondary">
          {{ item.buttonText | safe }}
          {% image
            'external-link.svg',
            'cmp-button__icon',
            ( item.buttonAltText if item.buttonAltText else " " ) %}
        </a>
      </div>
    </div>

    <div class="obj-projects-grid__item-screenshot">
      {% image item.hpImage,
      'obj-projects-grid__image',
      item.screenshotAltText %}
    </div>
  </div>
  {% endfor %}
</div>
