<div class="obj-projects-grid">
  {# neverland travelers vlog #}
  <div class="obj-projects-grid__item">
    {# text container on left #}
    <div class="obj-projects-grid__item-text">
      <h3 class="obj-projects-grid__heading">
        Website for personal vlog
      </h3>
      <p class="obj-projects-grid__description">
        I built and deployed the first version of a website dedicated to my personal vlog channel called Neverland Travelers. 
      </p>
      <div class="obj-projects-grid__links">
        <a href="/work/vlog.html" class="cmp-button cmp-button--primary" aria-label="Learn more about the Neverland Travelers vlog project site">Learn More</a>
        <a href="https://www.neverlandtravelers.com" class="cmp-button cmp-button--secondary">
          Visit Site
          {% image 'external-link.svg', 'cmp-button__icon', 'Visit Neverland Travelers site' %}
        </a>
      </div>
    </div>

    <div class="obj-projects-grid__item-screenshot">
      {% image 'NT-screenshot-hp.png', 'obj-projects-grid__image', 'Neverland Travelers homepage, with a navigation menu, an image of a castle in Walt Disney World and several images of the Neverland Travelers'%}
    </div>
  </div>

  {# financial group remake #}
  <div class="obj-projects-grid__item">
    {# text container on right #}
    <div class="obj-projects-grid__item-text">
      <h3 class="obj-projects-grid__heading">
        Financial Website Remake
      </h3>
      <p class="obj-projects-grid__description">
        Using Figma designs, I recreated a real website for an independent financial advisor. 
      </p>
      <div class="obj-projects-grid__links">
        <a href="/work/remake.html" class="cmp-button cmp-button--primary" aria-label="Learn more about the financial advisor remake project site">Learn More</a>
        <a href="https://marissahuysentruyt.github.io/Financial-Website-Remake/" class="cmp-button cmp-button--secondary">
          Visit Site
          {% image 'external-link.svg', 'cmp-button__icon', 'Visit the Finance Remake site' %}
        </a>
      </div>
    </div>

    <div class="obj-projects-grid__item-screenshot obj-projects-grid__item-screenshot--remake">
      {% image 'Fin-Screenshot-hp.png', 'obj-projects-grid__image', 'Financial Group Remake homepage, with a navigation menu, call-to-action buttons, and an image of two men talking while sitting on a bench'%}
    </div>
  </div>

  {# iceland travel landing page #}
  <div class="obj-projects-grid__item">
    {# text container on left #}
    <div class="obj-projects-grid__item-text">
      <h3 class="obj-projects-grid__heading">
        Fire & Ice Landing Page
      </h3>
      <p class="obj-projects-grid__description">
        After browsing Dribbble, I developed this Icelandic travel landing page and added minor interactivity.
      </p>
      <div class="obj-projects-grid__links">
        <a href="/work/travel.html" class="cmp-button cmp-button--primary" aria-label="Learn more about the Iceland travel project site">Learn More</a>
        <a href="https://marissahuysentruyt.github.io/Recreating-Iceland/" class="cmp-button cmp-button cmp-button--secondary">
          Visit Site
          {% image 'external-link.svg', 'cmp-button__icon', 'Visit Iceland Travel page' %}
        </a>
      </div>
    </div>

    <div class="obj-projects-grid__item-screenshot">
      {% image 'Ice-screenshot-hp.png', 'obj-projects-grid__image', 'Fire & Ice landing page, with a navigation menu and Icelandic landscape images'%}
    </div>
  </div>
</div>
