<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="icon" href="/public/usedresources/favicon.png" type="image/png">
</head>
<body>

    <header class="cmp-header">
      <nav class="cmp-header__container">
        <a href="/index.html" class="cmp-header__home-link">
          {% image 'src/public/usedresources/mh_logo.svg', '', 'Home'%}
        </a>
        <ul class="cmp-header__link-list">
          <li class="cmp-header__list-item">
            <a class="cmp-header__link" href="/work/work-examples.html">Projects</a>
          </li>
          <li class="cmp-header__list-item">
            <a class="cmp-header__link" href="/resume/resume.html">Resume</a>
          </li>
          <li class="cmp-header__list-item">
            <a class="cmp-header__link" href="/contact/contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="body-container--resume">
        <div class="hero-section--resume">
            <div class="header">
                <div class="across-top">

                    <a href="../../../../../m_huysentruyt_resume.pdf" target="_blank" value="Resume_Huysentruyt" class="full">
                        <button type="button" class="download-btn" value="Download ">
                            Download Resume
                          {% image 'src/public/usedresources/download_arrow.svg', '', "Download Marissa's Resume"%}

                            {# <img src="../public/usedresources/download_arrow.svg" alt="Download"> #}
                        </button>
                    </a>

                    <a href="../../../../m_huysentruyt_resume_1.pdf" target="_blank" value="Resume_Huysentruyt" class="icon">
                        <button type="button" class="download-btn" >
                          {% image 'src/public/usedresources/download_arrow.svg', '', "Download Marissa's Resume"%}
                            
                            {# <img src="public/usedresources/download_arrow.svg" alt="Download"> #}
                        </button>
                    </a>

                    <p>&lt;Front End Development&gt;</p>
                    
                </div>
                <h1>
                    Marissa Huysentruyt
                </h1>
            </div>
        </div>

        <div class="grid-container">
            <section id="education">
                <h2>Education</h2>
                <ul>
                    <!-- dev -->
                    <li class="year">2021</li>
                    <li class="item">Front-End Development Certifications</li>
                    <li class="sub-items">Udemy Ultimate Full Stack Developer Bootcamp (in progress)</li>
                    <li class="sub-items">StackSkills Web Developer Bootcamp</li>
                    <li class="sub-items">Codecademy Web Development Career Path Courses</li>

                    <!-- teaching -->
                    <li class="year">2015</li>
                    <li class="item">Post-Bachelor Studies: Teaching Certification, Music Education</li>
                    <li class="sub-items">
                        Wayne State University
                        <br>
                        Detroit, MI
                    </li>

                    <!-- performance -->
                    <li class="year">2012</li>
                    <li class="item">Bachelor of Music in Performance</li>
                    <li class="sub-items">
                        Wayne State University
                        <br>
                        Detroit, MI
                    </li>

                </ul>
            </section>

            <section id="about">
                <div class="hello">
                    <img src="../public/usedresources/images_2x/js_arrow.png" alt="start">
                    <h2>Hello there!</h2>
                </div>

                <p>I’m a front-end developer. Well actually, web development is my second career. Until recently, I’ve been a music educator and band director. I started experimenting more on my own, and found I really enjoyed the creative problem solving needed to build user-friendly interfaces! Development and music both  ll the desire to continuously improve myself and my work.</p>
            </section>

            <section id="experience">
                <h2>Experience</h2>
                <div class="experience-container">

                    <div class="fraser">
                        <p class="date">August 2015 - Present</p>
                        <p class="title">Elementary Band Director</p>
                        <p class="where">Fraser Public Schools</p>
                        <p class="city">Fraser, MI</p>
                        
                        <ul class="experience-items">
                            <li>3 courses taught: “Introduction to Instrumental Music,” “Beginning Band 5,” “Beginning Band 6"</li>
                            <li>Plan and implement developmentally-appropriate music lessons for grades 5 and 6, 3 concerts per academic year </li>
                        </ul>

                        <p class="title secondary">Marching Band Assistant</p>
                        <ul class="experience-items">
                            <li>“Floating” drill instructor and small ensemble teacher for grades 9-12</li>
                        </ul>
                    </div>

                    <div class="wwt">
                        <p class="date">2016-2019</p>
                        <p class="title">Marching Band Camp Instructor</p>
                        <p class="where">Warren Woods Tower High School</p>
                        <p class="city">Warren Woods, MI</p>
                        
                        <ul class="experience-items">
                            <li>Marching Fundamentals Assistant, Clarinet Instructor for grades 9-12</li>
                        </ul>
                    </div>

                    <div class="marysville">
                        <p class="date">April 2015</p>
                        <p class="title">Visiting Teacher</p>
                        <p class="where">Marysville Public Schools</p>
                        <p class="city">Marysville, MI</p>
                        
                        <ul class="experience-items">
                            <li>Implement developmentally-appropriate music lessons as detailed by the teacher of record for grades 5-12 </li>
                            <img src="../public/usedresources/images_2x/end_tag.png" alt="end">
                        </ul>
                    </div>
                </div>
            </section>

            <section id="skills">
                <div class="skills-container">
                    <h2>Skills</h2>
                    <div class="html">
                        <div id="animate-html">
                            <img src="../public/usedresources/images_2x/html.png" alt="HTML">
                            <h3>HTML</h3>
                        </div>
                        <div class="bars-all bottom"></div>
                    </div>
                    <div class="css">
                        <div id="animate-css">
                            <img src="../public/usedresources/images_2x/css.png" alt="HTML">
                            <h3>CSS</h3>
                        </div>
                        <div class="bars-all bottom"></div>
                    </div>
                    <div class="javascript">
                        <div id="animate-js">
                            <img src="../public/usedresources/images_2x/js.png" alt="HTML">
                            <h3>JavaScript</h3>
                        </div>
                        <div class="bars-all bottom"></div>
                    </div>
                    <div class="github">
                        <div id="animate-github">
                            <img src="../public/usedresources/images_2x/github.png" alt="HTML">
                            <h3>GitHub</h3>
                        </div>
                        <div class="bars-all bottom"></div>
                    </div>
                    <div class="figma">
                        <div id="animate-figma">
                            <img src="../public/usedresources/images_2x/figma.png" alt="HTML">
                            <h3>Figma</h3>
                        </div>
                        <div class="bars-all bottom"></div>
                    </div>
                </div>
            </section>
        </div>

        <section class="collab-cta--resume"> 
            <p class="resume-page-text">
                Interested in working together or collaborating on a project? <strong>Shoot me a message!</strong>
            </p>
            <!-- should this just go to the contact page or open an email? -->
            <a href="../contact/contact.html">Get in Touch</a>
        </section>

    </main>
    
    <footer>
        <ul class="social">
            <li>
                <a href="../blog/blog.html"><img src="../public/usedresources/medium_logo.svg" alt="Blog"></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/mhuysentruyt/" target="_blank"><img src="../public/usedresources/LinkedIN.svg" alt="LinkedIn"></a>
            </li>
            <li>
                <a href="https://github.com/marissahuysentruyt" target="_blank"><img src="../public/usedresources/Github.svg" alt="GitHub"></a>
            </li>
        </ul>

        <p>&copy;&nbsp;2023 Marissa Huysentruyt</p>
    </footer>

    <script>

// html animation 
        let html = document.getElementById('animate-html');
        let htmlHeight = html.clientHeight;

        document.addEventListener('scroll', animateHTML);

        function inViewHTML() {
            let windowHTMLHeight = window.innerHeight;
            let scrollHTMLY = window.scrollY || window.pageYOffset;
              // get current scroll position (distance from the top of the page to the bottom of the current viewport)
            let scrollHTMLPosition = scrollHTMLY + windowHTMLHeight;
              // get html position (distance from the top of the page to the bottom of the html)
            let htmlPosition = html.getBoundingClientRect().top + scrollHTMLY + htmlHeight;

            if(scrollHTMLPosition > htmlPosition) {
                return true;
            } return false;
        };

        // animate while in view
        function animateHTML() {
            if(inViewHTML()) {
                html.classList.add('animatehtml');
                }
        };

// css animation
        let css = document.getElementById('animate-css');
        let cssHeight = css.clientHeight;

        document.addEventListener('scroll', animateCSS);

        function inViewCSS() {
            let windowCSSHeight = window.innerHeight;
            let scrollCSSY = window.scrollY || window.pageYOffset;
              // get current scroll position (distance from the top of the page to the bottom of the current viewport)
            let scrollCSSPosition = scrollCSSY + windowCSSHeight;
              // get html position (distance from the top of the page to the bottom of the html)
            let cssPosition = css.getBoundingClientRect().top + scrollCSSY + cssHeight;

            if(scrollCSSPosition > cssPosition) {
                return true;
            } return false;
        };

        // animate while in view
        function animateCSS() {
            if(inViewCSS()) {
                css.classList.add('animatecss');
            } 
            };
        

// js animation
        let js = document.getElementById('animate-js');
        let jsHeight = js.clientHeight;

        document.addEventListener('scroll', animateJS);

        function inViewJS() {
            let windowJSHeight = window.innerHeight;
            let scrollJSY = window.scrollY || window.pageYOffset;
              // get current scroll position (distance from the top of the page to the bottom of the current viewport)
            let scrollJSPosition = scrollJSY + windowJSHeight;
              // get html position (distance from the top of the page to the bottom of the html)
            let jsPosition = js.getBoundingClientRect().top + scrollJSY + jsHeight;

            if(scrollJSPosition > jsPosition) {
                return true;
            } return false;
        };

        // animate while in view
        function animateJS() {
            if(inViewJS()) {
                js.classList.add('animatejs');
            }
            };


// github animation
        let git = document.getElementById('animate-github');
        let gitHeight = git.clientHeight;

        document.addEventListener('scroll', animateGit);

        function inViewGit() {
            let windowGitHeight = window.innerHeight;
            let scrollGitY = window.scrollY || window.pageYOffset;
              // get current scroll position (distance from the top of the page to the bottom of the current viewport)
            let scrollGitPosition = scrollGitY + windowGitHeight;
              // get html position (distance from the top of the page to the bottom of the html)
            let gitPosition = git.getBoundingClientRect().top + scrollGitY + gitHeight;

            if(scrollGitPosition > gitPosition) {
                return true;
            } return false;
        };

        // animate while in view
        function animateGit() {
            if(inViewGit()) {
                git.classList.add('animategit');
            }
            };


// figma animation
        let figma = document.getElementById('animate-figma');
        let figmaHeight = figma.clientHeight;

        document.addEventListener('scroll', animateFigma);

        function inViewFigma() {
            let windowFigmaHeight = window.innerHeight;
            let scrollFigmaY = window.scrollY || window.pageYOffset;
              // get current scroll position (distance from the top of the page to the bottom of the current viewport)
            let scrollFigmaPosition = scrollFigmaY + windowFigmaHeight;
              // get html position (distance from the top of the page to the bottom of the html)
            let figmaPosition = figma.getBoundingClientRect().top + scrollFigmaY + figmaHeight;

            if(scrollFigmaPosition > figmaPosition) {
                return true;
            } return false;
        };

        // animate while in view
        function animateFigma() {
            if(inViewFigma()) {
                figma.classList.add('animatefigma');
            }
            };
    </script>

</body>
</html>
